﻿@model IEnumerable<CarTimeSpan>

<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="row">
            <form>
                <button class="btn btn-default" asp-controller="Home" asp-action="StartEngine">Rozpocznij symulacje</button>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Czas</th>
                    <th>Prędkość</th>
                    <th>Obroty silnika</th>
                    <th>Temperatura silnika</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Time</td>
                        <td>@item.Speed_KMH</td>
                        <td>@item.CarEngine.Revolutions</td>
                        <td>@item.CarEngine.Temperature</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

